In [1]:
import boto3
import os
import pandas as pd
import pyspark
from pyspark.sql import functions as F
from pyspark.sql import SparkSession
from pyspark.context import SparkContext as sc
import csv

os.environ["PYSPARK_PYTHON"]="/opt/rh/rh-python36/root/usr/bin/python"

In [2]:
accessKeyId='accessKeyId'
secretAccessKey='secretAccessKey'

s3 = boto3.client("s3", 
                  region_name='us-east-1', 
                  aws_access_key_id=accessKeyId, 
                  aws_secret_access_key=secretAccessKey)

In [4]:
files=s3.list_objects(Bucket="yunus-input")["Contents"]
len(files)

9

In [5]:
cwd=os.getcwd()
cwd=cwd+"/deneme/"
print (cwd)

/home/yunus/deneme/

In [6]:
for file in files:
    s3.download_file(Bucket="yunus-input",
    Key=file["Key"],
    Filename=cwd+"download_"+file["Key"])

In [7]:
spark= pyspark.sql.SparkSession.builder.getOrCreate()

22/03/25 00:48:39 WARN Utils: Your hostname, yunus resolves to a loopback address: 127.0.1.1; using 192.168.1.5 instead (on interface enp34s0)
22/03/25 00:48:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/25 00:48:39 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/03/25 00:48:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [8]:
path ='/home/yunus/deneme/download_olist_order_items_dataset.csv'

data = spark.read.csv(path,
                     sep=',',
                     header=True)
data.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- order_item_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- shipping_limit_date: string (nullable = true)
 |-- price: string (nullable = true)
 |-- freight_value: string (nullable = true)

In [9]:
path2 ='/home/yunus/deneme/download_olist_orders_dataset.csv'

data2 = spark.read.csv(path2,
                     sep=',',
                     header=True)
data2.printSchema()

root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_status: string (nullable = true)
 |-- order_purchase_timestamp: string (nullable = true)
 |-- order_approved_at: string (nullable = true)
 |-- order_delivered_carrier_date: string (nullable = true)
 |-- order_delivered_customer_date: string (nullable = true)
 |-- order_estimated_delivery_date: string (nullable = true)

In [10]:
data.createOrReplaceTempView('data')
data2.createOrReplaceTempView('data2')
deneme= spark.sql(r"""Select * from data""").show()
#deneme.show()
deneme2= spark.sql('Select * from data2')
deneme2.show()

+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|            order_id|order_item_id|          product_id|           seller_id|shipping_limit_date| price|freight_value|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
|00010242fe8c5a6d1...|            1|4244733e06e7ecb49...|48436dade18ac8b2b...|2017-09-19 09:45:35| 58.90|        13.29|
|00018f77f2f0320c5...|            1|e5f2d52b802189ee6...|dd7ddc04e1b6c2c61...|2017-05-03 11:05:13|239.90|        19.93|
|000229ec398224ef6...|            1|c777355d18b72b67a...|5b51032eddd242adc...|2018-01-18 14:48:30|199.00|        17.87|
|00024acbcdf0a6daa...|            1|7634da152a4610f15...|9d7a1d34a50524090...|2018-08-15 10:10:18| 12.99|        12.79|
|00042b26cf59d7ce6...|            1|ac6c3623068f30de0...|df560393f3a51e745...|2017-02-13 13:57:51|199.90|        18.14|
|00048cc3ae777c65d...|            1|ef92defde845ab845...|6426d21aca402a131...|2017-05-23 03:55:27| 21.90|        12.69|
|00054e8431b9d7675...|            1|8d4f2bb7e93e6710a...|7040e82f899a04d1b...|2017-12-14 12:10:31| 19.90|        11.85|
|000576fe39319847c...|            1|557d850972a7d6f79...|5996cddab893a4652...|2018-07-10 12:30:45|810.00|        70.75|
|0005a1a1728c9d785...|            1|310ae3c140ff94b03...|a416b6a846a117243...|2018-03-26 18:31:29|145.95|        11.65|
|0005f50442cb953dc...|            1|4535b0e1091c278df...|ba143b05f0110f0dc...|2018-07-06 14:10:56| 53.99|        11.40|
|00061f2a7bc09da83...|            1|d63c1011f49d98b97...|cc419e0650a3c5ba7...|2018-03-29 22:28:09| 59.99|         8.88|
|00063b381e2406b52...|            1|f177554ea93259a5b...|8602a61d680a10a82...|2018-07-31 17:30:39| 45.00|        12.98|
|0006ec9db01a64e59...|            1|99a4788cb24856965...|4a3ca9315b744ce9f...|2018-07-26 17:24:20| 74.00|        23.32|
|0008288aa423d2a3f...|            1|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0008288aa423d2a3f...|            2|368c6c730842d7801...|1f50f920176fa81da...|2018-02-21 02:55:52| 49.90|        13.37|
|0009792311464db53...|            1|8cab8abac59158715...|530ec6109d11eaaf8...|2018-08-17 12:15:10| 99.90|        27.65|
|0009c9a17f916a706...|            1|3f27ac8e699df3d30...|fcb5ace8bcc92f757...|2018-05-02 09:31:53|639.00|        11.34|
|000aed2e25dbad2f9...|            1|4fa33915031a8cde0...|fe2032dab1a61af87...|2018-05-16 20:57:03|144.00|         8.77|
|000c3e6612759851c...|            1|b50c950aba0dcead2...|218d46b86c1881d02...|2017-08-21 03:33:13| 99.00|        13.71|
|000e562887b1f2006...|            1|5ed9eaf534f6936b5...|8cbac7e12637ed9cf...|2018-02-28 12:08:37| 25.00|        16.11|
+--------------------+-------------+--------------------+--------------------+-------------------+------+-------------+
only showing top 20 rows

+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|            order_id|         customer_id|order_status|order_purchase_timestamp|  order_approved_at|order_delivered_carrier_date|order_delivered_customer_date|order_estimated_delivery_date|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
|e481f51cbdc54678b...|9ef432eb625129730...|   delivered|     2017-10-02 10:56:33|2017-10-02 11:07:15|         2017-10-04 19:55:00|          2017-10-10 21:25:13|          2017-10-18 00:00:00|
|53cdb2fc8bc7dce0b...|b0830fb4747a6c6d2...|   delivered|     2018-07-24 20:41:37|2018-07-26 03:24:27|         2018-07-26 14:31:00|          2018-08-07 15:27:45|          2018-08-13 00:00:00|
|47770eb9100c2d0c4...|41ce2a54c0b03bf34...|   delivered|     2018-08-08 08:38:49|2018-08-08 08:55:23|         2018-08-08 13:50:00|          2018-08-17 18:06:29|          2018-09-04 00:00:00|
|949d5b44dbf5de918...|f88197465ea7920ad...|   delivered|     2017-11-18 19:28:06|2017-11-18 19:45:59|         2017-11-22 13:39:59|          2017-12-02 00:28:42|          2017-12-15 00:00:00|
|ad21c59c0840e6cb8...|8ab97904e6daea886...|   delivered|     2018-02-13 21:18:39|2018-02-13 22:20:29|         2018-02-14 19:46:34|          2018-02-16 18:17:02|          2018-02-26 00:00:00|
|a4591c265e18cb1dc...|503740e9ca751ccdd...|   delivered|     2017-07-09 21:57:05|2017-07-09 22:10:13|         2017-07-11 14:58:04|          2017-07-26 10:57:55|          2017-08-01 00:00:00|
|136cce7faa42fdb2c...|ed0271e0b7da060a3...|    invoiced|     2017-04-11 12:22:08|2017-04-13 13:25:17|                        null|                         null|          2017-05-09 00:00:00|
|6514b8ad8028c9f2c...|9bdf08b4b3b52b552...|   delivered|     2017-05-16 13:10:30|2017-05-16 13:22:11|         2017-05-22 10:07:46|          2017-05-26 12:55:51|          2017-06-07 00:00:00|
|76c6e866289321a7c...|f54a9f0e6b351c431...|   delivered|     2017-01-23 18:29:09|2017-01-25 02:50:47|         2017-01-26 14:16:31|          2017-02-02 14:08:10|          2017-03-06 00:00:00|
|e69bfb5eb88e0ed6a...|31ad1d1b63eb99624...|   delivered|     2017-07-29 11:55:02|2017-07-29 12:05:32|         2017-08-10 19:45:24|          2017-08-16 17:14:30|          2017-08-23 00:00:00|
|e6ce16cb79ec1d90b...|494dded5b201313c6...|   delivered|     2017-05-16 19:41:10|2017-05-16 19:50:18|         2017-05-18 11:40:40|          2017-05-29 11:18:31|          2017-06-07 00:00:00|
|34513ce0c4fab462a...|7711cf624183d843a...|   delivered|     2017-07-13 19:58:11|2017-07-13 20:10:08|         2017-07-14 18:43:29|          2017-07-19 14:04:48|          2017-08-08 00:00:00|
|82566a660a982b15f...|d3e3b74c766bc6214...|   delivered|     2018-06-07 10:06:19|2018-06-09 03:13:12|         2018-06-11 13:29:00|          2018-06-19 12:05:52|          2018-07-18 00:00:00|
|5ff96c15d0b717ac6...|19402a48fe860416a...|   delivered|     2018-07-25 17:44:10|2018-07-25 17:55:14|         2018-07-26 13:16:00|          2018-07-30 15:52:25|          2018-08-08 00:00:00|
|432aaf21d85167c2c...|3df704f53d3f1d481...|   delivered|     2018-03-01 14:14:28|2018-03-01 15:10:47|         2018-03-02 21:09:20|          2018-03-12 23:36:26|          2018-03-21 00:00:00|
|dcb36b511fcac050b...|3b6828a50ffe54694...|   delivered|     2018-06-07 19:03:12|2018-06-12 23:31:02|         2018-06-11 14:54:00|          2018-06-21 15:34:32|          2018-07-04 00:00:00|
|403b97836b0c04a62...|738b086814c6fcc74...|   delivered|     2018-01-02 19:00:43|2018-01-02 19:09:04|         2018-01-03 18:19:09|          2018-01-20 01:38:59|          2018-02-06 00:00:00|
|116f0b09343b49556...|3187789bec9909876...|   delivered|     2017-12-26 23:41:31|2017-12-26 23:50:22|         2017-12-28 18:33:05|          2018-01-08 22:36:36|          2018-01-29 00:00:00|
|85ce859fd6dc634de...|059f7fc5719c7da6c...|   delivered|     2017-11-21 00:03:41|2017-11-21 00:14:22|         2017-11-23 21:32:26|          2017-11-27 18:28:00|          2017-12-11 00:00:00|
|83018ec114eee8641...|7f8c8b9c2ae27bf33...|   delivered|     2017-10-26 15:54:26|2017-10-26 16:08:14|         2017-10-26 21:46:53|          2017-11-08 22:22:00|          2017-11-23 00:00:00|
+--------------------+--------------------+------------+------------------------+-------------------+----------------------------+-----------------------------+-----------------------------+
only showing top 20 rows

In [11]:
result=spark.sql('select b.is_late,count(*) from(select a.order_id,a.seller_id,a.y,a.x,\
                        case when datediff(TO_DATE(CAST(UNIX_TIMESTAMP(a.y, "yyyy/MM/dd") AS TIMESTAMP)),TO_DATE(CAST(UNIX_TIMESTAMP(a.x, "yyyy/MM/dd") AS TIMESTAMP)))>0 then 0 else 1 end is_late\
                    from (select a.order_id,b.seller_id,\
                                 to_date(a.order_delivered_carrier_date) as x,\
                                 to_date(a.order_estimated_delivery_date) as y \
                            from data2 a left join data b on a.order_id=b.order_id \
                                where  a.order_delivered_carrier_date is not null \
                                and a.order_estimated_delivery_date is not null) a)b group by b.is_late').show()

+-------+--------+
|is_late|count(1)|
+-------+--------+
|      1|     544|
|      0|  110913|
+-------+--------+

In [12]:
result=spark.sql('select b.seller_id,b.is_late from(select a.order_id,a.seller_id,a.y,a.x,\
                        case when datediff(TO_DATE(CAST(UNIX_TIMESTAMP(a.y, "yyyy/MM/dd") AS TIMESTAMP)),TO_DATE(CAST(UNIX_TIMESTAMP(a.x, "yyyy/MM/dd") AS TIMESTAMP)))>0 then 0 else 1 end is_late\
                    from (select a.order_id,b.seller_id,\
                                 to_date(a.order_delivered_carrier_date) as x,\
                                 to_date(a.order_estimated_delivery_date) as y \
                            from data2 a left join data b on a.order_id=b.order_id \
                                where  a.order_delivered_carrier_date is not null \
                                and a.order_estimated_delivery_date is not null) a) b where b.is_late=1')

In [13]:
result_data = result.toPandas()
result_data.head(10)

                          seller_id  is_late
0  633ecdf879b94b5337cca303328e4a25        1
1  fd386aa7bed2af3c7035c65506c9b4a3        1
2  cac4c8e7b1ca6252d8f20b2fc1a2e4af        1
3  4b5f66b7adcf57f1ecc0d3c07dd6b177        1
4  b19f3ca2ea475913750f25a5c37c8d8f        1
5  44f091b5abab8018f682fce8124b85e5        1
6  fa1c13f2614d7b5c4749cbc52fecda94        1
7  c70c1b0d8ca86052f45a432a38b73958        1
8  89bc797e2e29667aa035d4368f9b7f92        1
9  8d956fec2e4337affcb520f56fd8cbfd        1

In [14]:
result_data.to_csv('is_late_table')